<header role="banner" class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease">
  <div class="navbar-container">
    <a href="/" class="brand w-nav-brand"><img src="/images/Elombe-Kisala-EK-Logo.png" loading="lazy" width="55" sizes="55px" alt="Elombe Kisala Logo" srcset="/images/Elombe-Kisala-EK-Logo-p-500.png 500w, /images/Elombe-Kisala-EK-Logo.png 500w">
      <div class="logo---navbar">Elombe Kisala</div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu" aria-label="Primary">
      <a href="/projects/" class="navigation-link w-nav-link">Projects</a>
      <a href="/about/" class="navigation-link w-nav-link">About</a>
      <a href="/journal/" class="navigation-link w-nav-link">Journal</a>
      <a href="https://swftstudios.com/?utm_source=elombekisala&amp;utm_medium=personal_site&amp;utm_campaign=swft_referral" target="_blank" rel="noopener noreferrer" class="navigation-link w-nav-link" data-analytics="swft_click" data-analytics-destination="swft_home">Work With SWFT</a>
      <a href="/join/" class="navigation-link nav-button w-nav-link" data-analytics="join_the_build_start" data-analytics-source="nav">Join the Build</a>
    </nav>
    <div class="menu-button w-nav-button" aria-label="Toggle menu">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</header>
